<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Town & Campus Hair Care Inc.</title>
 
   <!-- CSS -->
    <link href="../build/all.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


<body>




   <!-- NAVIGATION BAR -->

<section class="nav-container">
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="../index" class="navbar-brand">T<i class="fa fa-scissors fa-fw text-muted brand-logo"></i>C</a> 
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">About</a></li>
               <li class="active"> <a href="staff">Staff</a></li>
              <li><a href="careers">Careers</a></li>
              <li><a href="#contact-section">Contact</a></li>
          </ul>
      </div>
  </nav>
</section>

<!-- JUMBOTRON -->

<div class="staff-title">
    <h1>Meet our awesome staff!</h1>
</div>


<!-- STAFF CARDS -->

<section class="container-fluid staff-content">

 <!-- START ROW 1 -->

    <div class="row card-row">

    <!-- Greg Deaner -->

        <div class="col-md-4">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/rotating_card_profile2.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Greg Deaner</h3>
                                <p class="profession">Stylist</p>
                                <h5>Cuts by Appointment Only</h5>
                                <h6><i class="fa fa-scissors fa-fw text-muted"></i> Mon Tue Wed</h6>
                                <h5>Office Hours</h5>
                                <h6><i class="fa fa-briefcase fa-fw text-muted"></i> Thurs Fri</h6>

                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">About Me</h4>
                                <p>Our current staff of stylists and receptionists are really willing to go the extra mile for a client and try to achieve their desired results. <br></br>
                                The most challenging part of my job is juggling between styling hair and running a business. I enjoy both ends of the business and am excited to have new experiences to try.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                           
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->


    <!-- Richard Deaner -->

        <div class="col-md-4">
          <div class="card-container manual-flip">
            <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/richard.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Richard Deaner</h3>
                                 <p class="profession">Stylist</p>
                                <h5>Cuts by Appointment Only</h5>
                                <h6><i class="fa fa-scissors fa-fw text-muted"></i> Wed Thurs</h6>
                                
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">About Me</h4>
                                <p>I’ve been barbering for over 50 years and still look forward to going to work. I enjoy talking to and meeting people. I specialize in men's haircutting ranging from regular tapered haircuts to flattops to styling. <br></br>
                                Being semi-retired has been a great way of life for me in recent years. I am able to enjoy life outside the shop but I really look forward to Wednesdays and Thursdays when I am able to go to the salon, cut hair and be around the many friends that I have made throughout the years. </p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->

    <!-- Courtney Carbaugh -->

        <div class="col-md-4">
          <div class="card-container manual-flip">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="../img/rotating_card_thumb.png"/>
                    </div>
                    <div class="user">
                        <img class="img-circle" src="../img/courtney.png"/>
                    </div>
                    <div class="content">
                        <div class="main">
                            <h3 class="name">Courtney Carbaugh</h3>
                            <p class="profession">Stylist</p>
                            <h5>Hours</h5>
                            <h6><i class="fa fa-scissors fa-fw text-muted"></i> Tue Wed Thurs</h6>
                            <h6>Fri Sat</h6>

                         
                        </div>
                        <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                     <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">About Me</h4>
                                <p>I’ve always been artistic and creative. Eventually I realized that I could take all that and put it into hair. Since I’ve been at Town & Campus I’ve really enjoyed getting to know people as well. I can’t say I have a favorite service because I love it all. I look forward to what this mind-blowing industry has in store. </p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->
    </div> <!-- end card-row -->

<!-- START ROW 2 -->

    <div class="row card-row">

    <!-- Kaitlyn Dellinger -->

        <div class="col-md-4">
          <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/kaitlyn.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Kaitlyn Dellinger</h3>
                                <p class="profession">Stylist</p>
                                 <h5>Hours</h5>
                                <h6><i class="fa fa-scissors fa-fw text-muted"></i> Mon Wed Thurs</h6>
                            <h6>Fri Sat</h6>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">About Me</h4>
                                <p>I feel that everyone should have the chance to be creative and be themselves. Your hair is a way to express your individuality and to think outside the box. <br></br>
                                I've always had a passion for the industry, beginning before I went to school. I enjoy things that are funky and eccentric but I love to do all things. </p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->

    <!-- Brad Eckard -->

        <div class="col-md-4">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/brad.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Brad Eckard</h3>
                                <p class="profession">Stylist</p>
                                
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">About Me</h4>
                                <p>After serving in the Army for 7 years and becoming a federal police officer I decided to attend Cosmetology School with hopes of attending Barbering School in the future as well. Recently, I also acquired my Cosmetology Educator License.  <br></br>
                                I have a special interest in Goldwell Hair Color including Elumen, and the Goldwell Product line. I appreciate that Town & Campus offers a wide variety of services and other products because I want to continue to learn as much as I can about our industry.  </p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->

        <!-- Kelly Keagy -->

        <div class="col-md-4">
          <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/kelly.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Kelly Keagy</h3>
                                <p class="profession">Stylist</p>
                                 <h5>Hours</h5>
                                <h6><i class="fa fa-scissors fa-fw text-muted"></i> Mon Tue Wed</h6>
                            <h6>Fri Sat</h6>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                                 <h4 class="text-center">About Me</h4>
                                <p>I like the diverse services that our salon offers and I enjoy performing all of those services. It requires a vast knowledge and skills at many levels; however, my specialty service is wedding upstyling. <br></br>
                                I really enjoy getting to be a part of their special day and getting to help create a style that they can look back on and remember fondly.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end column -->
    </div> <!-- end card-row -->

    <!-- START ROW 3 -->

    <div class="row card-row">

        <!-- Tracey Orndorff -->

        <div class="col-md-4">
            <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../img/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../img/tracey.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Tracey Orndorff</h3>
                                    <p class="profession">Stylist</p>
                                     <h5>Hours</h5>
                                <h6><i class="fa fa-scissors fa-fw text-muted"></i> Mon Wed Fri</h6>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Me
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div> 
                            <div class="content">
                                <div class="main">
                                     <h4 class="text-center">About Me</h4>
                                     <p>I fell in love with hair during the 80's in Hagerstown, MD. I've always had a passion for this industry growing up and began my career as a cosmetologist in 2003 at Town and Campus. When I work with my clients, I feel the key is interpreting their vision so I encourage their input to create a better understanding of their needs. My approach to hair design is to teach my clients how to replicate and maintain their style. <br></br>
                                     In addition to all of our services that we offer I specialize in Brazilian Waxing, Spray Tans, Eye Lash Extentions, and of course, big hair!</p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end column -->

     <!-- Nora Whitney -->

        <div class="col-md-4">
          <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../img/rotating_card_thumb.png"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../img/nora.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Nora Whitney</h3>
                                <p class="profession">Stylist</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Me
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div> 
                        <div class="content">
                            <div class="main">
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!--end column -->


    <!-- Amanda Caples -->

        <div class="row">
          <div class="col-md-4">
            <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../img/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../img/amanda.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Amanda Caples</h3>
                                    <p class="profession">Massage Therapists</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Me
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div> 
                            <div class="content">
                                <div class="main">
                                   <h4 class="text-center">About Me</h4>
                                     <p>In September of 2011 I graduated from YTI Career Institute. As a PA Licensed Therapist for the past three years, I demonstrate excellent customer service and professional massage services, with a personal touch. I customize each massage specifically for the client’s needs. I especially enjoy helping clients relax that are recovering from muscle strain. <br></br>
                                     My services include Swedish, Deep Tissue, Reflexology, Hot Stone Therapy and Chair Massage. </p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
        </div> <!-- end column --> 
    </div> <!-- end card-row -->

    <!-- START ROW 4 -->

    <div class="row card-row">

    <!-- Lydia O'Brien -->

    <div class="col-md-4">
      <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../img/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../img/lydia.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Lydia O'Brien</h3>
                                    <p class="profession">Massage Therapists</p>
                                    <p class="profession">Lancaster school of Cosmetology & Therapeutic Body Work 2013</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Me
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div> 
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">About Me</h4>
                                     <p>I am extremely fortunate to be in a profession that not only makes a difference in people’s lives but also makes them feel good about themselves. Each massage therapy session is a unique healing experience guided by an intuitive, nurturing and caring touch to meet your specific needs. I am passionate about providing client focused bodywork in a warm, welcoming, relaxing and professional environment.</p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
    </div> <!-- end column -->

    <!-- Noel Walden -->
    <div class="col-md-4">
      <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../img/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../img/noel.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Noel Walden</h3>
                                    <p class="profession">Receptionist</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Me
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div> 
                            <div class="content">
                                <div class="main">
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
               </div> <!-- end column -->

    <!-- Kathy Fouchie -->
    <div class="col-md-4">
      <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="../img/rotating_card_thumb.png"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="../img/kathy.png"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Kathy Fouchie</h3>
                                    <p class="profession">Manager</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Me
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div> 
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">About Me</h4>
                                     <p>I’ve been an employee of Town & Campus since 1993 and I’ve had 23 great years in our industry! I loved cutting hair, I adored my clients, and I enjoyed pretty much every aspect of my position, but in January 2013, I had to stop cutting hair and transitioned to being the Manager.   <br></br>
                                     Now I have an opportunity to experience the other side of things. I’ll admit it’s quite a change from what I was used to, but I welcome the challenges it offers. I will always remember my incredible clients and the wonderful life memories I had here.</p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="fa fa-reply"></i> Back
                                </button>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
    </div> <!-- end column -->
  </div> <!-- end card-row -->

</section> <!-- end staff-content section -->

<!-- ABOUT -->

  <section class="container-fluid about-content" id="about">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="about-title"> About Us </h1>
        <p class="about-text">
        &nbsp&nbsp&nbsp&nbsp&nbsp We invite you to one of the most well-appointed hair salons in Gettysburg. Located just off the square, we offer a wide selection of affordable, quality salon services. Whether you’re looking for a modern style cut by one of our Hair Stylists, an Up-Do for a special event, or a traditional men’s cut by a Master Barber, our experienced staff is ready to serve you.</p>
        <p class="about-signature">-Town & Campus Hair Care</p>
      </div>
    </div> <!-- end row -->

  </section>


  <!-- CONTACT -->

  <section class="container-fluid" id="contact-section"> 
    <div class="container-fluid">
       <div class="col-md-3 col-md-offset-2">
            <h2 class="contact-title">Store Location</h2>
            <!-- Redirects to Google Maps w/ Current Location -->
            <p class="StoreLocation-text"><a href="https://www.google.com/maps/dir/Current+Location/8+Carlisle+street+Gettysburg+Pennsylvania+17325">
            Town & Campus Hair Care Inc. <br>
            8 Carlisle St.<br>
            Gettysburg, PA 17325
            </a></p>
        </div>

        <div class="col-md-3">
            <h2 class="contact-title">Contact Us</h2>
              <p class="contact-text"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="tel:+7173342904"> (717)-334-2904</a></p>
              <p class="contact-text"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@townandcampushaircare?subject=Hello There!">info@townandcampushaircare.com</a></p>
              <p class="contact-text"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@townandcampushaircare?subject=Hello There!">greg@townandcampushaircare.com</a></p>
        </div>
            

        <div class="col-md-3">
            <h2 class="contact-title">Follow Us <br>on <span id="facebook-link"><a href="https://www.facebook.com/TownAndCampus?fref=ts">Facebook</a></span>!</h2>
            <div class="fb-like" style="margin-top:15px;" data-href="https://www.facebook.com/TownAndCampus?rf=146972688654507" data-width="500px" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
            </div>
        </div>
    </div>

       <!-- COPYRIGHT FOOTER -->

  <footer class="copyright text-center">
    <p id="footer-text">Copyright 2015 © Town & Campus Hair Care, Inc. All rights reserved.</p>
  </footer> 


  </section>


    <!-- Facebook Plugin SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


    <!-- Rotate card script -->
    <script type="text/javascript">
    function rotateCard(btn){
    var $card = $(btn).closest('.card-container');
    console.log($card);
    if($card.hasClass('hover')){
    $card.removeClass('hover');
    } else {
    $card.addClass('hover');
    }
    }
    </script>
        

 

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>


    <!-- Staff Card CSS -->
    <link href="../css/rotating-card.css" rel="stylesheet" />





  </body>
</html>